@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
        <h1 class="titulo">
        <center>Carrusel </center>
        </h1>

    <div id="carrusel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
        <li data-slide-to="0" class="active"></li>
        <li data-slide-to="1"></li>
        <li data-slide-to="2"></li>
        
        </ol>
        <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="img/img1.jpg" alt="First slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="img/img2.jpg" alt="Second slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="img/img3.jpg" alt="Third slide">
        </div>
            </div>
        <a class="carousel-control-prev" href="#carrusel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        </a>
        <a class="carousel-control-next" href="#carrusel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        </a>
    </div>

    <div>
        <a asp-area="" asp-controller="Home" asp-action="Registro" class="btn btn-primary">Adoptar Mascota</a>
    </div>
    
</div>
