@{
    ViewData["Title"] = "Home Page";
    Layout = "plantilla";
}

<body style="background-color: green; color:white;">
    <h1>Formulario de Registro</h1>

    <div class="alert alert-sucess">
        Su registro ha sido recibido, pronto estaremos en contacto.
    </div>
</body>